.planet {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    margin: 1em;
    cursor: pointer;
    transition: all ease .3s;

    &__logo {
        border-radius: 50%;
        border: 6px solid white;
        height: 10em;
        width: 10em;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3); 
        background-image: url('../../images/planet-bulleye.svg');
        background-size: cover;
        background-position: center; 
    }
}

