.planet {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    margin: 1em;
    cursor: pointer;
    transition: all ease .3s;

    &__logo {
        border-radius: 50%;
        border: 6px solid white;
        height: 10em;
        width: 10em;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3); 
        background-image: url('../../images/planet-bulleye.svg');
        background-size: cover;
        background-position: center; 
    }

    &__info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 10;
        padding: 1em;
        background-color: rgba(255,255,255, .98);
        border-radius: 16px;
        color: black;
        font-size: 12px;
        width: 100%;

        &-title {
            margin-bottom: 1em;
        }
        
        &:before {
            content: "";
            position: absolute;
            top: -15px;
            left: calc(50% - 20px);
            border-color: transparent transparent rgba(255,255,255, .98) transparent;
            border-style: solid;
            border-width: 0 20px 15px 20px;
        }
    }
}

