html {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(327deg, rgba(0,0,0,1) 0%, rgba(6,18,51,1) 50%, rgba(44,72,107,1) 100%);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Orbitron', sans-serif;
    font-weight: normal;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    transition: all ease .3s;
    z-index: 1;

    &__title {
        text-align: center;
    }
}

.loading {
    margin-top: 10em;

    &:after {
        content: '';
        display: inline-block;
        background: url('./images/loading-w.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 6em;
        width: 6em;
        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}