.planet-list {
    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
}

.button {
    border: 1px solid white;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    padding: .3em 1em;
    margin: .5em;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all ease .3s;
    z-index: 1;

    &:hover {
        color: black;
        background: white; 
    }

    &[disabled] {
        cursor: not-allowed;
        color: grey;
        border-color: grey;

        &:hover {
            color: grey;
            background: transparent; 
        }
    }
}