.planet-list {
    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    &__controls {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
}

